@model CategoryFilter.Models.FilterViewModel
@{
    ViewBag.Title = "Каталог продуктів";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background: none; margin-bottom: 0px; padding-left: 0px;">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav>

<h1 class="h4 text-muted">@Model.CategoryName</h1>
<div class="row">
    <div class="col-sm-4 col-md-3 col-xl-3">
        @{Html.RenderPartial("_PartialFilters", Model);}
    </div>
    <div class="col-sm-8 col-md-9 col-xl-9" id="update">
        @{Html.RenderPartial("_PartialProducts", Model);}
    </div>
</div>



