@using HtmlHelpers.BeginCollectionItem
@model CategoryFilter.Entities.PropertyValue

<tr>
    @*@{
            var paymentMethodPrefix = Html.ViewData.TemplateInfo.HtmlFieldPrefix;
        }*@

    @using (Html.BeginCollectionItem("PropertiesValue"))
    {
        @Html.HiddenFor(model => model.Id)
        <td>
            @Html.TextBoxFor(model => model.Name)
        </td>
        <td>
            <button type="button" id="Remove"><i class="fa fa-remove" style="color:#e43b3b"></i></button>
        </td>
    }

</tr>
